{% extends 'base.html' %}
{% load staticfiles %}
{% block jumbotron %}
        <div class="jumbotron">
      <div class="container">
        <h1>Generate and Share Google Maps URLs</h1>
        <p>Provide an address and we'll generate a google maps link that you can share with anyone.</p>
        <!-- <p>Perfect tool to help people get to the desired location</p> -->
 
  <form class="search_form" action='{% url 'home' %}' method='POST'> {% csrf_token %}
    <div class="form-group">
        <label for="address">To Address:</label>&nbsp;<input type="text" name="address" /><br>
        <input type="submit" class="btn btn-primary btn-md" value="Create My Google Maps URL" />
    </div>
  </form>
  {% if google_directions_url %}
  {{ google_directions_url }}
  {% endif %}
      </div>
    </div>
        

{% endblock %}

{% block content %}

{% endblock %}
